@model List<MainProject>

<table class="table text-center">
    <thead>
        <h3>All Main Projects</h3>

        <a href="/ProjectManager/AddNewMainProject" class="btn btn-info">Add New Main Project</a>

        <tr>
            <th>
                Main ProjectID
            </th>

            <th>
                Title
            </th>

            <th>
                Description
            </th>

            <th>
                Start Date
            </th>

            <th>
                Due Date
            </th>
            <th>
                Status
            </th>
            <th>
                TeamLeader
            </th>

            <th>
                Developers
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in (List<MainProject>)Model)
        {
            <tr>
                <td>
                    @project.MainProjectID
                </td>
                <td>
                    @project.Title
                </td>

                <td>
                    @project.Description
                </td>
                <td>
                    @project.StartDate
                </td>
                <td>
                    @project.DueDate
                </td>
                <td>
                    @project.Status
                </td>
                <td>
                    @project.TeamLeader.FirstName &nbsp @project.TeamLeader.LastName
                </td>
                <td>
                    @foreach (var dev in project.MainProjectDevelopers)
                    {

                        <span> @dev.Developer.FirstName &nbsp @dev.Developer.LastName &nbsp</span>

                    }
                </td>
                <td>
                    <a href="/ProjectManager/EditMainProject?id=@project.MainProjectID" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <a href="/ProjectManager/ShowAllSprints?id=@project.MainProjectID" class="btn btn-info">Sprints</a>
                </td>

            </tr>
        }
    </tbody>
</table>
