@model List<STask>

<table class="table text-center">
    <thead>
        <h3>All Sprint Tasks</h3>
        <a href="/TeamLeader/AddNewSTask?id=@ViewBag.SprintID" class="btn btn-info">Add New Sprint Task</a>

        <tr>
            <th>
                STaskID
            </th>

            <th>
                Title
            </th>

            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <td>
                DeveloperName
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in (List<STask>)Model)
        {
        <tr>
            <td>
                @task.STaskID
            </td>
            <td>
                @task.STaskTitle
            </td>

            <td>
                @task.STaskDescription
            </td>

            <td>
                @task.Status
            </td>

            <td>
                @task.Developer.FirstName &nbsp @task.Developer.LastName
            </td>


            <td>
                <a href="/TeamLeader/EditSTask?id=@task.STaskID" class="btn btn-info">Edit</a>
            </td>
            <td>
                <a href="/TeamLeader/ShowAllWorks?id=@task.STaskID" class="btn btn-info">Works</a>
            </td>
        </tr>
        }
    </tbody>
</table>

